  
  .input-field textarea{
    appearance:none;
    border: none;
    outline: none;
    height: 2.5rem;
    border: 2px solid #67106e !important;
  border-radius: 3px !important;
  background: #67106e !important;
  }

  .input-field textarea:focus {
     border: 2px solid #3f1642 !important;
  border-radius: 3px !important;
  background: #67106e !important;
  box-shadow: 1px 1px 4px 1px #d1a0d5;
   }

   .input-field textarea:hover {
     border: 2px solid #611966 !important;
  border-radius: 3px !important;
  background: #67106e !important;
  box-shadow: 1px 1px 4px 1px #d1a0d5;
   }
